.designArt{
    overflow: hidden;
    position: absolute;
    height: 28rem;
    width: 38rem;
    top: 0;
    right: 0;
}

.triangle{
    position: relative;
    top: -22%;
    right: -70%;
    background: #000000;
    width: 15rem;
    transform: rotate(45deg);
    height: 30rem;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    /* border: 1px solid #64bd41; */
    /*z-index: 9;*/
}

.triangle1 {
    position: relative;
    top: -73rem;
    right: -44%;
    background: #000000;
    width: 15rem;
    transform: rotate(45deg);
    height: 40rem;
    box-shadow: 0 4px 10px rgb(0, 0, 0);
    /*border: 1px solid #48ff00;*/
}

.triangle2 {
    position: relative;
    top: -35rem;
    right: -48%;
    background: #ffffff;
    width: 15rem;
    transform: rotate(45deg);
    height: 30rem;
    box-shadow: 0 4px 10px rgb(193, 193, 193);
    z-index: 1;
    /*border: 1px solid #48ff00;*/
}